<?xml version="1.0" ?>

<!DOCTYPE module PUBLIC
  "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
  "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
  <module name="TreeWalker">
    <module name="JavadocMethod">
      <property name="excludeScope" value="package"/>
    </module>
    <module name="JavadocVariable">
      <property name="excludeScope" value="package"/>
    </module>
    <module name="JavadocType">
      <property name="excludeScope" value="package"/>
    </module>
    <module name="JavadocStyle">
    </module>
    <module name="NonEmptyAtclauseDescription">
    </module>
  </module>
</module>
