.navhomehead       { padding-top: 0; 
                     margin-bottom: 0;
                     padding-bottom: 0;
                     font-size: 80%
                   }

.navhomehead           { color: black; }
.navhomehead a:link    { color: black; }
.navhomehead a:visited { color: black; }

.navhead           { padding-top: 0; 
                     margin-bottom: 0;
                     padding-bottom: 0;
                     font-size: 80%
                   }

.navhead           { color: black; }
.navhead a:link    { color: black; }
.navhead a:visited { color: black; }

.navfoot           { color: black;
                     font-size: 70%;
                   }

.navfoot a:link    { color: black; }
.navfoot a:visited { color: black; }

span.footdate      { color: black;
                     font-size: 70%;
                     font-family: Arial, sans-serif;
                   }

span.foothome      { color: black;
                     font-size: 70%;
                     font-family: Arial, sans-serif;
                   }

span.footfeed      { color: black;
                     font-size: 70%;
                     font-family: Arial, sans-serif;
                   }

span.footcopy      { color: black;
                     font-size: 70%;
                     font-family: Arial, sans-serif;
                   }
